# Foundations of Computer Science 2023 Project

We first import useful packages

In [1]:
import pandas as pd
import numpy as np
import re
import warnings

## 1. Extract all trips with busRoute 83

First of all we need to read the dataset

In [2]:
trips=pd.read_csv('metaData.csv')

Let's check what the dataset is like

In [3]:
trips

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.1500
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.1500
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.1500
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.1500
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,208,2022-12-06T14:43:49Z,1670337829,2022-12-06T18:22:52Z,1670350972,51798.78,32,4.260419e+08,39.808990,0,83,0.739349,279.6404,278.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.785390,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.879400,0,102,0.439916,279.1724,277.15,292.1500
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.1500
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.1500

Let us check what the different routes were

In [4]:
trips['busRoute']

0        -
1       31
2       33
3        -
4       72
        ..
1404    32
1405    83
1406    83
1407    N1
1408    N2
Name: busRoute, Length: 1409, dtype: object

Let's see if it recognizes 83

In [5]:
trips['busRoute']==83

0       False
1       False
2       False
3       False
4       False
        ...
1404    False
1405    False
1406    False
1407    False
1408    False
Name: busRoute, Length: 1409, dtype: bool

Since it doesn't (see lines 1405-1406) and there are routes named with letters, the data might be stored in strings

In [6]:
trips['busRoute']=='83'

0       False
1       False
2       False
3       False
4       False
        ...
1404    False
1405     True
1406     True
1407    False
1408    False
Name: busRoute, Length: 1409, dtype: bool

Ok, that seems to be the case.

In [7]:
trips[trips['busRoute']=='83']

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

## 2. Extract all trips where busRoute is not a number

Let us define a function to check if the route is not a number. We have to do this because some routes are just missing (see lines 0 or 3 as example) and some others are letters and numbers (such as 1407-1408)

In [8]:
def check_not_number(route):
    m=re.match('^\d+\d$' ,route)
    if m:
        return False
    else: return True

Let's test it on some strings

In [9]:
l='lol'
a='83'
b='N1'
c='189492749274398273'
d='18273t87217hh198718198'

In [10]:
check_not_number(l)

True

In [11]:
check_not_number(a)

False

In [12]:
#check_not_number(p)

In [13]:
check_not_number(b)

True

In [14]:
check_not_number(c)

False

In [15]:
check_not_number(d)

True

In [16]:
last_one='12N3'

In [17]:
check_not_number(last_one)

True

Since it seems to work we can use it on the actual dataset

In [18]:
trips[trips['busRoute'].apply(check_not_number)==True]

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15

## 3. For each (busNumber, busRoute) pair, determine the number of trips

Let's check how many different buses number and routes we have:

In [19]:
trips['busNumber'].unique()

array([183, 208])

In [20]:
trips['busRoute'].unique()

array(['-', '31', '33', '72', '46', '32', '83', 'N4', 'N2', 'N1'],
      dtype=object)

Now we can just group by Number and Route and check how many lines we count, dropping the first one since it's referring to a missing busRoute.

In [21]:
trips.groupby(['busNumber', 'busRoute']).size().reset_index(name='Number of trips').drop(0)

    busNumber busRoute  Number of trips
1         183       31               12
2         183       32               12
3         183       33              130
4         183       46              104
5         183       72              114
6         183       83              441
7         183       N1               10
8         183       N2               19
9         183       N4               11
10        208       31                5
11        208       32               14
12        208       33               25
13        208       46               19
14        208       72               44
15        208       83              405
16        208       N1                6
17        208       N2               20
18        208       N4                7

This is in accord with point 2 of this project: the total number of trips for Route 83 is 441 for bus 183 and 405 for bus 208; that is a total of 846 trips, as the lines resulting in from question 1.

## 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

First of all let's check the data type of energyConsumption: if it is a string we'd have to convert it to a number

In [22]:
type(trips['energyConsumption'][0])

numpy.float64

No work needed here, we can just add a column with the requested information

In [23]:
trips['EnergyRatio']=trips['energyConsumption']/trips['itcs_numberOfPassengers_mean']

In [24]:
trips['EnergyRatio']

0       8.640500e+07
1       1.214747e+07
2       7.342794e+07
3       1.673328e+08
4       2.613190e+07
            ...
1404    1.070215e+07
1405    5.338462e+07
1406    4.738047e+07
1407    2.247753e+07
1408    3.345769e+07
Name: EnergyRatio, Length: 1409, dtype: float64

## 5. For each station (itcs_stopName), determine the average number of passengers

We can first get a list of filenames from trips dataframe

In [25]:
namelist=trips['name']

let's try if everything is correct and it opens up the first one:

In [26]:
nome='https://github.com/CarloArpini/2023-FCS-Project/raw/main/ZTBus_compressed/'+namelist[0]+'.csv'
a=pd.read_csv(nome)
a

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2019-04-30T03:18:56Z,1556594336,-13.845510,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,251666.7,0.0
1,2019-04-30T03:18:57Z,1556594337,-3.849362,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,292.3688,254876.2,0.0
2,2019-04-30T03:18:58Z,1556594338,-0.672331,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,292.9310,251783.3,0.0
3,2019-04-30T03:18:59Z,1556594339,-1.087931,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,255000.0,0.0
4,2019-04-30T03:19:00Z,1556594340,-0.811985,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,253000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19520,2019-04-30T08:44:16Z,1556613856,-0.254938,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19521,2019-04-30T08:44:17Z,1556613857,-0.131183,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19522,2019-04-30T08:44:18Z,1556613858,-0.131183,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19523,2019-04-30T08:44:19Z,1556613859,-0.258701,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19524,2019-04-30T08:44:20Z,1556613860,-0.191862,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0

In [27]:
a['itcs_stopName'].unique()

array(['-', 'Zürich, Herdernstrasse', 'Zürich, Hardplatz',
       'Zürich, Güterbahnhof', 'Zürich, Bäckeranlage',
       'Zürich, Militär-/Langstrasse', 'Zürich, Kanonengasse',
       'Zürich, Sihlpost / HB', 'Zürich, Löwenplatz',
       'Zürich, Bahnhofplatz/HB', 'Zürich, Central', 'Zürich, Neumarkt',
       'Zürich, Kunsthaus', 'Zürich, Sprecherstrasse',
       'Zürich, Kreuzplatz', 'Zürich, Signaustrasse',
       'Zürich, Hegibachplatz', 'Zürich, Botanischer Garten',
       'Zürich, Höschgasse', 'Zürich, Fröhlichstrasse',
       'Zürich, Wildbachstrasse', 'Zürich, Bahnhof Tiefenbrunnen',
       'Zürich, Freiestrasse', 'Zürich, Klusplatz',
       'Zürich, Hölderlinsteig', 'Zürich, Klosbach', 'Zürich, Hofstrasse',
       'Zürich, Kirche Fluntern', 'Zürich, Hinterbergstrasse',
       'Zürich, Spyriplatz', 'Zürich, Bethanien', 'Zürich, Toblerplatz'],
      dtype=object)

We notice that we have many different stations name and quite some unnamed stops too; we surely don't need those though.

In [28]:
a=a.drop(a[a['itcs_stopName']=='-'].index)
a

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
246,2019-04-30T03:23:02Z,1556594582,46853.790,423.9126,1.303761,0.827037,0.148511,-,1.0,"Zürich, Herdernstrasse",...,0.917510,0.917510,0.917510,0,1,0,0,291.15,0.0,14819.530
322,2019-04-30T03:24:18Z,1556594658,54698.170,NaN,NaN,NaN,NaN,-,2.0,"Zürich, Hardplatz",...,1.242539,1.242539,1.242539,0,1,0,0,288.15,0.0,16939.120
406,2019-04-30T03:25:42Z,1556594742,33962.440,NaN,NaN,NaN,NaN,-,3.0,"Zürich, Güterbahnhof",...,0.610547,0.610547,0.610547,0,1,0,0,287.15,0.0,6230.346
508,2019-04-30T03:27:24Z,1556594844,59833.090,NaN,NaN,NaN,NaN,-,5.0,"Zürich, Bäckeranlage",...,1.052014,1.052014,1.052014,0,1,0,0,287.15,0.0,20058.230
564,2019-04-30T03:28:20Z,1556594900,11191.580,NaN,NaN,NaN,NaN,-,6.0,"Zürich, Militär-/Langstrasse",...,0.000000,0.000000,0.000000,0,1,0,0,286.15,0.0,12064.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18067,2019-04-30T08:20:03Z,1556612403,-9666.809,NaN,NaN,NaN,NaN,-,0.0,"Zürich, Freiestrasse",...,8.818254,8.887699,8.858202,0,0,0,0,283.15,0.0,-4233.973
18099,2019-04-30T08:20:35Z,1556612435,-98946.970,NaN,NaN,NaN,NaN,-,0.0,"Zürich, Klusplatz",...,4.914641,4.966725,4.937789,0,0,0,0,283.15,0.0,-22060.570
18161,2019-04-30T08:21:37Z,1556612497,21194.270,NaN,NaN,NaN,NaN,-,0.0,"Zürich, Hölderlinsteig",...,0.000000,0.000000,0.000000,0,0,0,0,283.15,0.0,19751.250
18269,2019-04-30T08:23:25Z,1556612605,18611.560,NaN,NaN,NaN,NaN,-,0.0,"Zürich, Klosbach",...,0.000000,0.000000,0.000000,0,0,0,0,283.15,0.0,17867.500
18320,2019-04-30T08:24:16Z,1556612656,81280.400,NaN,NaN,NaN,NaN,-,0.0,"Zürich, Hofstrasse",...,11.017290,11.126560,11.010140,0,0,0,0,283.15,0.0,5603.830

In [29]:
#nome=trips['name']
#for i in range(len(trips)):
#    nome[i]='ZTBUS_compressed/'+nome[i]+'.csv'
#    a=pd.read_csv(nome[i], usecols=['itcs_stopName'])
#    a=a.drop(a[a['itcs_stopName']=='-'].index)
#    stoplist=a['itcs_stopName'].unique()
    # stoplist=a[a['itcs_stopName']!='-']['itcs_stopName'].unique()
#    trips['StopList'][i]=stoplist
#    weights=[]
#    for stop in stoplist:
#        weights.append(str(a[a['itcs_stopName']==stop].count().item()))
#    trips['StopList_weights'][i] = weights

In [30]:
#trips['StopList'][0]==test[test['itcs_stopName']!='-']['itcs_stopName'].unique()

In [31]:
#def check_value (value, listL):
#    for i in range(len(listL)):
#        if value==listL[i]:
#            return i
#    return -1

In [32]:
#value=0
#listL=[1,2,3,4,5,6,0,1,2,4,6,8,6]
#print(check_value (value, listL))
#listL=[1,2,3,4,5,6,1,2,4,6,8,6]
#print(check_value (value, listL))
#listL=['a',2,'ciao',4,5,6,1,2,4,6,8,6]
#print(check_value (value, listL))
#listL=['a',2,'ciao',4,5,6,1,2,4,0,8,6]
#print(check_value (value, listL))
#value='ciao'
#print(check_value (value, listL))

In [33]:
#couples=[]
#stationlist=[]
#for j in range(trips['StopList'][0].size):
#    value=trips['StopList'][0][j]
#    k=int(trips['StopList_weights'][0][j])
#    a=trips['itcs_numberOfPassengers_mean'][0]*k
#    for i in range(len(trips)):
#        listL=trips['StopList'][i]
#        if check_value (value, listL)!=-1:
#            k+=int(trips['StopList_weights'][check_value (value, listL)][j])
#            a+=trips['itcs_numberOfPassengers_mean'][i]*int(trips['StopList_weights'][check_value (value, listL)][j])
#    couple=(value, a/k)
#    if a/k!=0:
#        couples.append(couple)
#    stationlist.append(value)

We can now modify namelist to grab the individual files from their Github directory. If you have the directory already downloaded, you can simply rename it to "ZTBus_compressed" and use instead the code from the next cell, to speed things up

In [34]:
#for i in range(len(namelist)):
#   namelist[i]='https://github.com/CarloArpini/2023-FCS-Project/raw/main/ZTBus_compressed/'+namelist[i]+'.csv'

In [35]:
warnings.filterwarnings('ignore')
for i in range(len(namelist)):
    namelist[i]='ZTBus_compressed/'+namelist[i]+'.csv'

In [36]:
namelist

0       ZTBus_compressed/B183_2019-04-30_03-18-56_2019...
1       ZTBus_compressed/B183_2019-04-30_13-22-07_2019...
2       ZTBus_compressed/B183_2019-05-01_05-58-51_2019...
3       ZTBus_compressed/B183_2019-05-03_02-50-21_2019...
4       ZTBus_compressed/B183_2019-05-03_15-41-57_2019...
                              ...
1404    ZTBus_compressed/B208_2022-12-06_14-43-49_2022...
1405    ZTBus_compressed/B208_2022-12-07_05-13-02_2022...
1406    ZTBus_compressed/B208_2022-12-08_05-22-20_2022...
1407    ZTBus_compressed/B208_2022-12-09_23-55-12_2022...
1408    ZTBus_compressed/B208_2022-12-10_23-34-46_2022...
Name: name, Length: 1409, dtype: object

Now we introduce a snippet of code that will help us with question 6 - all will be explained there

In [37]:
numberbus=trips['busNumber']
k=0
while numberbus[k]==183:
    k+=1
count=0
for i in range(len(numberbus)):
    if numberbus[i]==183:
        count+=1
if k==count:
    print('the last row with busNumber value of 183 is row', k)
else:
    print(k, count)

the last row with busNumber value of 183 is row 864

Now we can concatenate each of the 1409 csv files together but dropping the unwanted lines (those with '-' as stopName)

In [38]:
previous=pd.read_csv(namelist[0])
previous=previous.drop(previous[previous['itcs_stopName']=='-'].index)
previous['busNumber']=183
for i in range(len(trips)):
    if i%83==0:
        print("siamo a ", i , "ancora poco: solo ", len(trips)-i, "righe")
    if i+1==len(trips):
        break
    a=pd.read_csv(namelist[i+1])
    a=a.drop(a[a['itcs_stopName']=='-'].index)
    # the following if-else condition will be useful for question 6 of the dataframe and will be explained 
    # there (as the snippet above)
    if i<863:
        a['busNumber']=183
    else:
        a['busNumber']=208
    frames=[previous, a]
    previous=pd.concat(frames)

siamo a  0 ancora poco: solo  1409 righe
siamo a  83 ancora poco: solo  1326 righe
siamo a  166 ancora poco: solo  1243 righe
siamo a  249 ancora poco: solo  1160 righe
siamo a  332 ancora poco: solo  1077 righe
siamo a  415 ancora poco: solo  994 righe
siamo a  498 ancora poco: solo  911 righe
siamo a  581 ancora poco: solo  828 righe
siamo a  664 ancora poco: solo  745 righe
siamo a  747 ancora poco: solo  662 righe
siamo a  830 ancora poco: solo  579 righe
siamo a  913 ancora poco: solo  496 righe
siamo a  996 ancora poco: solo  413 righe
siamo a  1079 ancora poco: solo  330 righe
siamo a  1162 ancora poco: solo  247 righe
siamo a  1245 ancora poco: solo  164 righe
siamo a  1328 ancora poco: solo  81 righe

In [39]:
previous

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,busNumber
246,2019-04-30T03:23:02Z,1556594582,46853.790,423.9126,1.303761,0.827037,0.148511,-,1.0,"Zürich, Herdernstrasse",...,0.917510,0.917510,0.0,1.0,0.0,0.0,291.1500,0.0,14819.53000,183
322,2019-04-30T03:24:18Z,1556594658,54698.170,NaN,NaN,NaN,NaN,-,2.0,"Zürich, Hardplatz",...,1.242539,1.242539,0.0,1.0,0.0,0.0,288.1500,0.0,16939.12000,183
406,2019-04-30T03:25:42Z,1556594742,33962.440,NaN,NaN,NaN,NaN,-,3.0,"Zürich, Güterbahnhof",...,0.610547,0.610547,0.0,1.0,0.0,0.0,287.1500,0.0,6230.34600,183
508,2019-04-30T03:27:24Z,1556594844,59833.090,NaN,NaN,NaN,NaN,-,5.0,"Zürich, Bäckeranlage",...,1.052014,1.052014,0.0,1.0,0.0,0.0,287.1500,0.0,20058.23000,183
564,2019-04-30T03:28:20Z,1556594900,11191.580,NaN,NaN,NaN,NaN,-,6.0,"Zürich, Militär-/Langstrasse",...,0.000000,0.000000,0.0,1.0,0.0,0.0,286.1500,0.0,12064.05000,183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12542,2022-12-11T03:03:48Z,1670727828,12677.750,464.3928,0.000000,0.827626,0.148469,N2,9.0,"Zürich, Zehntenhausplatz",...,0.000000,0.000000,0.0,0.0,1.0,0.0,274.1500,100040.5,10472.81000,208
12591,2022-12-11T03:04:37Z,1670727877,5376.588,458.3075,0.000000,0.827651,0.148482,N2,0.0,"Zürich, Bahnhof Affoltern",...,0.000000,0.000000,0.0,0.0,1.0,0.0,274.1500,245000.0,489.56790,208
12636,2022-12-11T03:05:22Z,1670727922,-55071.570,456.9075,2.076901,0.827671,0.148520,N2,0.0,"Zürich, Fronwald",...,8.035274,8.016577,0.0,0.0,0.0,0.0,274.1500,0.0,-9181.79800,208
12674,2022-12-11T03:06:00Z,1670727960,-22885.870,452.2150,0.357920,0.827700,0.148547,N2,0.0,"Zürich, Unteraffoltern",...,8.754341,8.727656,0.0,0.0,0.0,0.0,274.1500,0.0,-5328.51800,208
12764,2022-12-11T03:07:30Z,1670728050,18520.080,445.0924,1.503765,0.827703,0.148697,N2,0.0,"Zürich, Schwandenholz",...,8.267063,8.270338,0.0,0.0,0.0,0.0,274.0339,0.0,-31.26137,208

Now all that is left is to group by stop name and calculate the average

In [40]:
previous.groupby('itcs_stopName').mean('itcs_numberOfPassengers')['itcs_numberOfPassengers']

itcs_stopName
Zürich, Albisrank                 16.196598
Zürich, Albisriederplatz          25.453398
Zürich, Altes Krematorium         21.980348
Zürich, Bahnhof Affoltern          2.850746
Zürich, Bahnhof Altstetten         7.816580
                                    ...
Zürich, Zentrum Witikon           17.255102
Zürich, Zweiackerstrasse           7.502203
Zürich, Zwielplatz                 2.049383
Zürich, Zwinglihaus               23.196668
Zürich,Kalkbreite/Bhf.Wiedikon    23.160748
Name: itcs_numberOfPassengers, Length: 149, dtype: float64

We can check that it is correct by calculating the number of unique stop names

In [41]:
len(previous['itcs_stopName'].unique())

149

## 6. For each station, determine the buses that have stopped there at least once

We can now explain the snippet of code introduced in step 5. We noticed that the bus number was always either 183 or 208 and they seemed to be ordered: for this reason we can first check how many times 183 appears in the trips dataframe, and then check which is the first row with busNumber 208 (i.e. 864). If the two numbers are equals then the trips dataframe is ordered and contains the first N=864 rows referred to bus 183 and the latter 1409-N rows referred to bus 208; then we can go on and add a new busNumber column for each of the concatenated 1409 files where we simply insert either 183 or 208. At this point our database is provided with a busNumber associated to each row; then we can go on to group by stopName and bus number and check which buses stopped there at least once

In [42]:
previous[['itcs_stopName','busNumber']].groupby(['itcs_stopName', 'busNumber']).count().head(50)

Empty DataFrame
Columns: []
Index: [(Zürich, Albisrank, 183), (Zürich, Albisrank, 208), (Zürich, Albisriederplatz, 183), (Zürich, Albisriederplatz, 208), (Zürich, Altes Krematorium, 183), (Zürich, Altes Krematorium, 208), (Zürich, Bahnhof Affoltern, 183), (Zürich, Bahnhof Affoltern, 208), (Zürich, Bahnhof Altstetten, 183), (Zürich, Bahnhof Altstetten, 208), (Zürich, Bahnhof Hardbrücke, 183), (Zürich, Bahnhof Hardbrücke, 208), (Zürich, Bahnhof Tiefenbrunnen, 183), (Zürich, Bahnhof Tiefenbrunnen, 208), (Zürich, Bahnhof Wipkingen, 183), (Zürich, Bahnhof Wipkingen, 208), (Zürich, Bahnhofplatz/HB, 183), (Zürich, Bahnhofplatz/HB, 208), (Zürich, Bahnhofquai/HB, 183), (Zürich, Bahnhofquai/HB, 208), (Zürich, Baslerstrasse, 183), (Zürich, Baslerstrasse, 208), (Zürich, Berghaldenstrasse, 183), (Zürich, Berghaldenstrasse, 208), (Zürich, Bertastrasse, 183), (Zürich, Bertastrasse, 208), (Zürich, Besenrainstrasse, 183), (Zürich, Besenrainstrasse, 208), (Zürich, Bethanien, 183), (Zürich, Bethanien, 208), (Zürich, Birchdörfli, 183), (Zürich, Birchdörfli, 208), (Zürich, Botanischer Garten, 183), (Zürich, Botanischer Garten, 208), (Zürich, Bristenstrasse, 183), (Zürich, Bristenstrasse, 208), (Zürich, Brunau/Mutschellenstr., 183), (Zürich, Brunau/Mutschellenstr., 208), (Zürich, Bucheggplatz, 183), (Zürich, Bucheggplatz, 208), (Zürich, Bäckeranlage, 183), (Zürich, Bäckeranlage, 208), (Zürich, Carl-Spitteler-Strasse, 183), (Zürich, Central, 183), (Zürich, Central, 208), (Zürich, Drusbergstrasse, 183), (Zürich, Drusbergstrasse, 208), (Zürich, Dunkelhölzli, 183), (Zürich, Dunkelhölzli, 208), (Zürich, Einfangstrasse, 183)]

As a simple check, let's query our database looking for which bus stopped at Zürich, Carl-Spitteler-Strasse which seems to be one of the few stops only served by bus 183

In [43]:
previous[previous['itcs_stopName']=='Zürich, Carl-Spitteler-Strasse']['busNumber'].unique()

array([183])

## 7. For each station, determine the buses that have stopped there at least ten times

This is fairly easy, we just have to group by stop names and bus number as before and then we can count the number of stops

In [44]:
stopsnumber=previous.groupby(['itcs_stopName', 'busNumber']).size().reset_index(name='number of stops')
stopsnumber[stopsnumber['number of stops']>=10]

                      itcs_stopName  busNumber  number of stops
0                 Zürich, Albisrank        183             6324
1                 Zürich, Albisrank        208             6199
2          Zürich, Albisriederplatz        183            11218
3          Zürich, Albisriederplatz        208             7633
4         Zürich, Altes Krematorium        183            10022
..                              ...        ...              ...
291              Zürich, Zwielplatz        183               77
293             Zürich, Zwinglihaus        183             2791
294             Zürich, Zwinglihaus        208             1231
295  Zürich,Kalkbreite/Bhf.Wiedikon        183              279
296  Zürich,Kalkbreite/Bhf.Wiedikon        208              256

[295 rows x 3 columns]

## 8. Click on the following link

https://www.youtube.com/watch?v=dQw4w9WgXcQ

## 9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance

We can just group by route and bus number and then sum over energy consumption and driven distance:

In [45]:
grouped = trips.groupby(['busRoute','busNumber']).sum()[['energyConsumption', 'drivenDistance']]
grouped

                    energyConsumption  drivenDistance
busRoute busNumber
-        183             1.245498e+10      1999119.75
31       183             1.387782e+10      2279952.00
         208             5.535865e+09      1046306.68
32       183             1.393320e+10      2256540.10
         208             1.283340e+10      2337064.21
33       183             1.761996e+11     29510481.41
         208             3.474842e+10      6161892.39
46       183             1.026237e+11     18224657.94
         208             2.337366e+10      4186493.70
72       183             1.394368e+11     23637238.45
         208             5.100382e+10      9427138.15
83       183             2.995540e+11     51249813.70
         208             2.907837e+11     49965928.79
N1       183             4.217283e+09       705122.71
         208             2.316328e+09       410691.93
N2       183             7.929098e+09      1390618.35
         208             7.913191e+09      1464008.67
N4       183             4.720068e+09       766868.89
         208             3.152512e+09       519599.97

We notice that some routes are missing so let's take care of that

In [46]:
trips_new=trips.drop(trips[trips['busRoute']=='-'].index)
grouped = trips_new.groupby(['busRoute','busNumber']).sum()[['energyConsumption', 'drivenDistance']]
grouped

                    energyConsumption  drivenDistance
busRoute busNumber
31       183             1.387782e+10      2279952.00
         208             5.535865e+09      1046306.68
32       183             1.393320e+10      2256540.10
         208             1.283340e+10      2337064.21
33       183             1.761996e+11     29510481.41
         208             3.474842e+10      6161892.39
46       183             1.026237e+11     18224657.94
         208             2.337366e+10      4186493.70
72       183             1.394368e+11     23637238.45
         208             5.100382e+10      9427138.15
83       183             2.995540e+11     51249813.70
         208             2.907837e+11     49965928.79
N1       183             4.217283e+09       705122.71
         208             2.316328e+09       410691.93
N2       183             7.929098e+09      1390618.35
         208             7.913191e+09      1464008.67
N4       183             4.720068e+09       766868.89
         208             3.152512e+09       519599.97

Now let's just create a new column with the wanted ratio:

In [47]:
grouped['ratio'] = grouped['energyConsumption'] / grouped['drivenDistance']
grouped

                    energyConsumption  drivenDistance        ratio
busRoute busNumber
31       183             1.387782e+10      2279952.00  6086.891785
         208             5.535865e+09      1046306.68  5290.862713
32       183             1.393320e+10      2256540.10  6174.585331
         208             1.283340e+10      2337064.21  5491.247671
33       183             1.761996e+11     29510481.41  5970.747507
         208             3.474842e+10      6161892.39  5639.244537
46       183             1.026237e+11     18224657.94  5631.035959
         208             2.337366e+10      4186493.70  5583.110707
72       183             1.394368e+11     23637238.45  5899.029643
         208             5.100382e+10      9427138.15  5410.318878
83       183             2.995540e+11     51249813.70  5844.977154
         208             2.907837e+11     49965928.79  5819.638891
N1       183             4.217283e+09       705122.71  5980.920966
         208             2.316328e+09       410691.93  5640.061883
N2       183             7.929098e+09      1390618.35  5701.850332
         208             7.913191e+09      1464008.67  5405.152963
N4       183             4.720068e+09       766868.89  6154.986937
         208             3.152512e+09       519599.97  6067.190112

## 10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe

First we extract maximum value of our ratio for each route:

In [48]:
grouped_max= grouped.loc[grouped['ratio'].groupby('busRoute').idxmax()]
grouped_max

                    energyConsumption  drivenDistance        ratio
busRoute busNumber
31       183             1.387782e+10      2279952.00  6086.891785
32       183             1.393320e+10      2256540.10  6174.585331
33       183             1.761996e+11     29510481.41  5970.747507
46       183             1.026237e+11     18224657.94  5631.035959
72       183             1.394368e+11     23637238.45  5899.029643
83       183             2.995540e+11     51249813.70  5844.977154
N1       183             4.217283e+09       705122.71  5980.920966
N2       183             7.929098e+09      1390618.35  5701.850332
N4       183             4.720068e+09       766868.89  6154.986937

Then we do the same for the minimum ratio value over the routes:

In [49]:
grouped_min=grouped.loc[grouped['ratio'].groupby('busRoute').idxmin()]
grouped_min

                    energyConsumption  drivenDistance        ratio
busRoute busNumber
31       208             5.535865e+09      1046306.68  5290.862713
32       208             1.283340e+10      2337064.21  5491.247671
33       208             3.474842e+10      6161892.39  5639.244537
46       208             2.337366e+10      4186493.70  5583.110707
72       208             5.100382e+10      9427138.15  5410.318878
83       208             2.907837e+11     49965928.79  5819.638891
N1       208             2.316328e+09       410691.93  5640.061883
N2       208             7.913191e+09      1464008.67  5405.152963
N4       208             3.152512e+09       519599.97  6067.190112

We then merge the two:

In [50]:
grouped_tot = pd.merge(grouped_max, grouped_min, on='busRoute')
grouped_tot

,energyConsumption_x,drivenDistance_x,ratio_x,energyConsumption_y,drivenDistance_y,ratio_y
busRoute,,,,,,
31,1.387782e+10,2279952.00,6086.891785,5.535865e+09,1046306.68,5290.862713
32,1.393320e+10,2256540.10,6174.585331,1.283340e+10,2337064.21,5491.247671
33,1.761996e+11,29510481.41,5970.747507,3.474842e+10,6161892.39,5639.244537
46,1.026237e+11,18224657.94,5631.035959,2.337366e+10,4186493.70,5583.110707
72,1.394368e+11,23637238.45,5899.029643,5.100382e+10,9427138.15,5410.318878
83,2.995540e+11,51249813.70,5844.977154,2.907837e+11,49965928.79,5819.638891
N1,4.217283e+09,705122.71,5980.920966,2.316328e+09,410691.93,5640.061883
N2,7.929098e+09,1390618.35,5701.850332,7.913191e+09,1464008.67,5405.152963
N4,4.720068e+09,766868.89,6154.986937,3.152512e+09,519599.97,6067.190112

And now we have the difference simply by:

In [51]:
grouped_tot['ratio_x'] - grouped_tot['ratio_y']

busRoute
31    796.029072
32    683.337660
33    331.502969
46     47.925252
72    488.710765
83     25.338263
N1    340.859083
N2    296.697369
N4     87.796825
dtype: float64

## 11. Find the bus maximizing the difference computed in the previous point

## 12. Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation

In [52]:
a=pd.read_csv(nome)
a

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2019-04-30T03:18:56Z,1556594336,-13.845510,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,251666.7,0.0
1,2019-04-30T03:18:57Z,1556594337,-3.849362,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,292.3688,254876.2,0.0
2,2019-04-30T03:18:58Z,1556594338,-0.672331,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,292.9310,251783.3,0.0
3,2019-04-30T03:18:59Z,1556594339,-1.087931,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,255000.0,0.0
4,2019-04-30T03:19:00Z,1556594340,-0.811985,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,253000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19520,2019-04-30T08:44:16Z,1556613856,-0.254938,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19521,2019-04-30T08:44:17Z,1556613857,-0.131183,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19522,2019-04-30T08:44:18Z,1556613858,-0.131183,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19523,2019-04-30T08:44:19Z,1556613859,-0.258701,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0
19524,2019-04-30T08:44:20Z,1556613860,-0.191862,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,0,0,1,286.1500,0.0,0.0

In [53]:
a[a['gnss_altitude'].isnull()!=True]

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
142,2019-04-30T03:21:18Z,1556594478,16140.750,397.8000,1.432915,0.827004,0.148489,-,NaN,-,...,3.218779,2.652735,3.118049,0,1,0,0,292.15,0.0,3437.261000
143,2019-04-30T03:21:19Z,1556594479,17476.710,397.8000,1.432915,0.827002,0.148489,-,NaN,-,...,3.180786,2.788640,3.146064,0,1,0,0,292.15,0.0,3621.687000
144,2019-04-30T03:21:20Z,1556594480,17800.860,397.8000,1.432915,0.827003,0.148489,-,NaN,-,...,3.214131,3.008278,3.233972,0,1,0,0,292.15,0.0,3644.703000
145,2019-04-30T03:21:21Z,1556594481,4461.355,397.8000,1.432915,0.827003,0.148489,-,NaN,-,...,3.133200,3.015251,3.167922,0,1,0,0,292.15,0.0,-2.268991
146,2019-04-30T03:21:22Z,1556594482,28584.730,397.8000,1.432915,0.827002,0.148487,-,NaN,-,...,3.184125,3.114681,3.236208,0,1,0,0,292.15,0.0,6621.516000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,2019-04-30T03:25:12Z,1556594712,28578.890,399.5968,2.136395,0.826951,0.148684,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,119629.6,-6.655452
377,2019-04-30T03:25:13Z,1556594713,27972.820,399.3949,2.143442,0.826950,0.148686,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,245646.2,-2.601404
378,2019-04-30T03:25:14Z,1556594714,28028.800,399.0949,2.153736,0.826949,0.148688,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,245651.0,-2.601404
379,2019-04-30T03:25:15Z,1556594715,28376.830,398.7966,2.153825,0.826948,0.148690,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,244819.6,0.000000
380,2019-04-30T03:25:16Z,1556594716,27947.400,398.6016,2.124463,0.826947,0.148692,-,NaN,-,...,0.000000,0.000000,0.000000,1,1,0,0,287.15,244166.7,0.000000

In [54]:
a['gnss_altitude'].dropna().index

Index([142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       ...
       365, 366, 367, 374, 375, 376, 377, 378, 379, 380],
      dtype='int64', length=197)

In [55]:
a[a['gnss_altitude'].isnull()!=True].index

Index([142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       ...
       365, 366, 367, 374, 375, 376, 377, 378, 379, 380],
      dtype='int64', length=197)

In [56]:
a.drop(a[a['gnss_altitude'].isnull()==True].index)

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
142,2019-04-30T03:21:18Z,1556594478,16140.750,397.8000,1.432915,0.827004,0.148489,-,NaN,-,...,3.218779,2.652735,3.118049,0,1,0,0,292.15,0.0,3437.261000
143,2019-04-30T03:21:19Z,1556594479,17476.710,397.8000,1.432915,0.827002,0.148489,-,NaN,-,...,3.180786,2.788640,3.146064,0,1,0,0,292.15,0.0,3621.687000
144,2019-04-30T03:21:20Z,1556594480,17800.860,397.8000,1.432915,0.827003,0.148489,-,NaN,-,...,3.214131,3.008278,3.233972,0,1,0,0,292.15,0.0,3644.703000
145,2019-04-30T03:21:21Z,1556594481,4461.355,397.8000,1.432915,0.827003,0.148489,-,NaN,-,...,3.133200,3.015251,3.167922,0,1,0,0,292.15,0.0,-2.268991
146,2019-04-30T03:21:22Z,1556594482,28584.730,397.8000,1.432915,0.827002,0.148487,-,NaN,-,...,3.184125,3.114681,3.236208,0,1,0,0,292.15,0.0,6621.516000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,2019-04-30T03:25:12Z,1556594712,28578.890,399.5968,2.136395,0.826951,0.148684,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,119629.6,-6.655452
377,2019-04-30T03:25:13Z,1556594713,27972.820,399.3949,2.143442,0.826950,0.148686,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,245646.2,-2.601404
378,2019-04-30T03:25:14Z,1556594714,28028.800,399.0949,2.153736,0.826949,0.148688,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,245651.0,-2.601404
379,2019-04-30T03:25:15Z,1556594715,28376.830,398.7966,2.153825,0.826948,0.148690,-,NaN,-,...,0.000000,0.000000,0.000000,0,1,0,0,287.15,244819.6,0.000000
380,2019-04-30T03:25:16Z,1556594716,27947.400,398.6016,2.124463,0.826947,0.148692,-,NaN,-,...,0.000000,0.000000,0.000000,1,1,0,0,287.15,244166.7,0.000000

In [69]:
# idea: subsequentially open each file, delete all missing NaN rows and all rows which are equals (we can use diff
# and set it to zero to check those) so to reduce the size of the final dataframe, 
# then insert each said dataframe into a list of dataframes. Once this is done 
# just concat every file; note that inserting into a list is necessary because otherwise if we concat 
# subsequentially we are going to call out our dataframe with millions of rows hundreds of times, slowing 
# substiantially computational times
height_nonan=pd.read_csv(namelist[0])
height_nonan=height_nonan.drop(height_nonan[height_nonan['gnss_altitude'].isnull()==True].index)
height_nonan=height_nonan.drop(height_nonan[height_nonan['gnss_altitude'].diff()==0].index)
frameslist=[height_nonan]
for i in range(len(trips)):
    if i%83==0:
        print("siamo a ", i , "ancora poco: solo ", len(trips)-i, "righe")
    if i+1==len(trips):
        break
    a=pd.read_csv(namelist[i+1])
    a=a.drop(a[a['gnss_altitude'].isnull()==True].index)
    a=a.drop(a[a['gnss_altitude'].diff()==0].index)
    templist=[a]
    frameslist=frameslist+templist
height_nonan=pd.concat(frameslist)
# now reset index to then be able to work with diff once again to create altitude_variation variable
height_nonan.reset_index(inplace=True)

siamo a  0 ancora poco: solo  1409 righe
siamo a  83 ancora poco: solo  1326 righe
siamo a  166 ancora poco: solo  1243 righe
siamo a  249 ancora poco: solo  1160 righe
siamo a  332 ancora poco: solo  1077 righe
siamo a  415 ancora poco: solo  994 righe
siamo a  498 ancora poco: solo  911 righe
siamo a  581 ancora poco: solo  828 righe
siamo a  664 ancora poco: solo  745 righe
siamo a  747 ancora poco: solo  662 righe
siamo a  830 ancora poco: solo  579 righe
siamo a  913 ancora poco: solo  496 righe
siamo a  996 ancora poco: solo  413 righe
siamo a  1079 ancora poco: solo  330 righe
siamo a  1162 ancora poco: solo  247 righe
siamo a  1245 ancora poco: solo  164 righe
siamo a  1328 ancora poco: solo  81 righe

In [70]:
height_nonan

,index,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,142,2019-04-30T03:21:18Z,1556594478,16140.750000,397.8000,1.432915,0.827004,0.148489,-,NaN,...,3.218779,2.652735,3.118049,0.0,1.0,0.0,0.0,292.15,0.0,3437.261
1,148,2019-04-30T03:21:24Z,1556594484,32607.160000,397.8299,1.474908,0.827001,0.148487,-,NaN,...,3.663105,3.663105,3.663105,0.0,1.0,0.0,0.0,292.15,0.0,7033.599
2,149,2019-04-30T03:21:25Z,1556594485,39229.610000,400.3140,4.932499,0.827002,0.148485,-,NaN,...,3.912157,3.898375,3.901954,0.0,1.0,0.0,0.0,292.15,0.0,7572.098
3,150,2019-04-30T03:21:26Z,1556594486,54537.210000,401.6892,4.258572,0.827000,0.148484,-,NaN,...,4.239702,4.239702,4.257063,0.0,1.0,0.0,0.0,292.15,0.0,10395.160
4,151,2019-04-30T03:21:27Z,1556594487,52785.540000,400.4860,4.065155,0.826998,0.148484,-,NaN,...,4.702579,4.712781,4.698999,0.0,1.0,0.0,0.0,292.15,0.0,9944.972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40770669,14031,2022-12-11T03:28:37Z,1670729317,3214.522000,416.0540,0.365378,0.826997,0.148459,-,NaN,...,0.000000,0.000000,0.000000,1.0,0.0,1.0,1.0,278.15,245833.3,0.000
40770670,14042,2022-12-11T03:28:48Z,1670729328,18.181250,413.7306,0.288575,0.827004,0.148459,-,NaN,...,0.000000,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000
40770671,14054,2022-12-11T03:29:00Z,1670729340,-0.051249,410.1028,1.918733,0.826986,0.148482,-,NaN,...,0.000000,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000
40770672,14055,2022-12-11T03:29:01Z,1670729341,0.216363,410.1916,2.195930,0.826985,0.148488,-,NaN,...,0.000000,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000
40770673,14056,2022-12-11T03:29:02Z,1670729342,0.175483,410.8726,2.196229,0.826984,0.148493,-,NaN,...,0.000000,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000

In [71]:
height_nonan[height_nonan['gnss_altitude'].diff()==0]

Empty DataFrame
Columns: [index, time_iso, time_unix, electric_powerDemand, gnss_altitude, gnss_course, gnss_latitude, gnss_longitude, itcs_busRoute, itcs_numberOfPassengers, itcs_stopName, odometry_articulationAngle, odometry_steeringAngle, odometry_vehicleSpeed, odometry_wheelSpeed_fl, odometry_wheelSpeed_fr, odometry_wheelSpeed_ml, odometry_wheelSpeed_mr, odometry_wheelSpeed_rl, odometry_wheelSpeed_rr, status_doorIsOpen, status_gridIsAvailable, status_haltBrakeIsActive, status_parkBrakeIsActive, temperature_ambient, traction_brakePressure, traction_tractionForce]
Index: []

[0 rows x 27 columns]

In [72]:
height_nonan['altitude_variation']=height_nonan['gnss_altitude'].diff()
height_nonan

,index,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,...,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,altitude_variation
0,142,2019-04-30T03:21:18Z,1556594478,16140.750000,397.8000,1.432915,0.827004,0.148489,-,NaN,...,2.652735,3.118049,0.0,1.0,0.0,0.0,292.15,0.0,3437.261,NaN
1,148,2019-04-30T03:21:24Z,1556594484,32607.160000,397.8299,1.474908,0.827001,0.148487,-,NaN,...,3.663105,3.663105,0.0,1.0,0.0,0.0,292.15,0.0,7033.599,0.0299
2,149,2019-04-30T03:21:25Z,1556594485,39229.610000,400.3140,4.932499,0.827002,0.148485,-,NaN,...,3.898375,3.901954,0.0,1.0,0.0,0.0,292.15,0.0,7572.098,2.4841
3,150,2019-04-30T03:21:26Z,1556594486,54537.210000,401.6892,4.258572,0.827000,0.148484,-,NaN,...,4.239702,4.257063,0.0,1.0,0.0,0.0,292.15,0.0,10395.160,1.3752
4,151,2019-04-30T03:21:27Z,1556594487,52785.540000,400.4860,4.065155,0.826998,0.148484,-,NaN,...,4.712781,4.698999,0.0,1.0,0.0,0.0,292.15,0.0,9944.972,-1.2032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40770669,14031,2022-12-11T03:28:37Z,1670729317,3214.522000,416.0540,0.365378,0.826997,0.148459,-,NaN,...,0.000000,0.000000,1.0,0.0,1.0,1.0,278.15,245833.3,0.000,-1.1372
40770670,14042,2022-12-11T03:28:48Z,1670729328,18.181250,413.7306,0.288575,0.827004,0.148459,-,NaN,...,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000,-2.3234
40770671,14054,2022-12-11T03:29:00Z,1670729340,-0.051249,410.1028,1.918733,0.826986,0.148482,-,NaN,...,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000,-3.6278
40770672,14055,2022-12-11T03:29:01Z,1670729341,0.216363,410.1916,2.195930,0.826985,0.148488,-,NaN,...,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000,0.0888
40770673,14056,2022-12-11T03:29:02Z,1670729342,0.175483,410.8726,2.196229,0.826984,0.148493,-,NaN,...,0.000000,0.000000,1.0,0.0,0.0,1.0,278.15,0.0,0.000,0.6810

In [73]:
height_nonan['altitude_variation'][3]==height_nonan['gnss_altitude'][3]-height_nonan['gnss_altitude'][2]

True

## 13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation

## 14. For each month of the year, compute the average ambient temperature

First of all we transform the temperature to celsius, for easier understanding:

In [ ]:
warnings.filterwarnings('ignore')
for i in range(len(trips)):
    trips['temperature_ambient_mean'][i]=trips['temperature_ambient_mean'][i]-273.15

Now let's set the date:

In [ ]:
trips['startTime_iso']=pd.to_datetime(trips['startTime_iso'])

Let's put the month in a new columm:

In [ ]:
trips['month']=trips['startTime_iso'].dt.month

And we have the result:

In [ ]:
trips.groupby('month')['temperature_ambient_mean'].mean().reset_index(name='avg_temp')